</div>
</div>
</div><!-- /.container -->
<br><br><br>
<hr>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-primary">
    <hr/>
<p class="text-center">&COPY; 2018 ThinkLocally</p>
</div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>


